.Background {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: -1;
}
/* Top container */
.header-container {
  z-index: 500;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sacrifice-container {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8%;
}

.eye-container {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.8s ease-in-out;
}

.eye-container.grow {
  opacity: 0;
}

.play-container {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8%;
}

.play-element-container {
  position: relative;
  width: 20rem;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 5;
  background-color: var(--color-2);
  border-radius: 50px;
}

.play-pause {
  box-sizing: border-box;
  margin: 0 7.5px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 50%;
  border-radius: 50px;
  z-index: 2;

  background-color: var(--color-1);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.play-pause svg {
  width: 100%;
  height: 100%;
  color: var(--color-4);
}
.play-text {
  box-sizing: border-box;
  margin: 0 7.5px;
  position: relative;
  height: 85%;
  width: 50%;
  border-radius: 50px;
  display: flex;
  color: var(--color-4);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1;

  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.play-pause.Active {
  transform: translateX(10rem);
}

.play-text.Active {
  transform: translateX(-10rem);
}

.link-container {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.links {
  position: relative;
  width: 60%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.links a {
  text-decoration: none;
  color: var(--color-4);
  margin: 20px;
}

.button-container {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

.panel {
  width: 65%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 20%;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.panel-item h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-4);
}

.Highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-2);
  border-radius: 50px;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0, 0.85, 0.82, 0.99),
    width 0.8s ease-in-out, background-color 0.8s ease-in-out;
}

/* Make the Highlight adjust based on the fit content of an element */

.Highlight.Active1 {
  transform: translateY(0);
}

.Highlight.Active2 {
  transform: translateY(calc(100% + 20px));
}

.Highlight.Active3 {
  transform: translateY(calc(200% + 40px));
}

.Highlight.Active4 {
  transform: translateY(calc(300% + 60px));
}
