/* Removal of default margin and padding */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--Background);
  font-family: "Protest Revolution", sans-serif;
}

:root {
  /* Maroon */
  --Background: #0a0a0a;

  /* Blood red */
  --BloodRed: #8b0000;
  --Crimson: #dc143c;
  --Purple: #4b0082;
  --NeonPurple: #8000ff;
  --Amber: #ff8c00;
}

.Background {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: -1;
}

.HeaderContainer {
  z-index: 500;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  pad: 0 2rem;
}

.SacrificeContainer {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 8%;
}

.EyeContainer {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.8s ease-in-out;
}

.EyeContainer.grow {
  opacity: 0;
}

.PlayContainer {
  position: relative;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 8%;
}

.PlayElementContainer {
  position: relative;
  width: 45%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: var(--Purple);
  border-radius: 50px;
}

.PlayPause {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 48%;
  border-radius: 50px;
  z-index: 2;
  background-color: black;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.PlayPause.Active {
  transform: translateX(100%);
  background-color: var(--Background);
}

.PlayText.Active {
  transform: translateX(-100%);
}

.PlayIcon {
  height: 75%;
  width: 75%;
  background-image: url("https://img.icons8.com/ios-filled/50/8000ff/pause--v1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PlayIcon.Active {
  background-image: url("https://img.icons8.com/ios-filled/50/8000ff/play--v1.png");
}

.PlayText {
  position: relative;
  height: 85%;
  width: 48%;
  border-radius: 50px;
  display: flex;
  color: var(--NeonPurple);
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.LinkContainer {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.Links {
  position: relative;
  width: 60%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.Links a {
  text-decoration: none;
  color: var(--Crimson);
  margin: 20px;
}

.ButtonContainer {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

.Panel {
  width: 65%;
  height: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PanelItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  height: 20%;
  margin: 10px;
  border-radius: 50px;
  cursor: pointer;
}

.PanelItem h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Crimson);
}

#PanelElementId4 h1 {
  color: black;
}

#PanelElementId5 h1 {
  color: black;
}

.Highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--BloodRed);
  border-radius: 50px;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0, 0.85, 0.82, 0.99),
    width 0.8s ease-in-out, background-color 0.8s ease-in-out;
}

/* Make the highlight adjust based on the fit content of an element */

.Highlight.Active1 {
  transform: translateY(0);
}

.Highlight.Active2 {
  transform: translateY(calc(100% + 20px));
}

.Highlight.Active3 {
  transform: translateY(calc(200% + 40px));
}

.Highlight.Active4 {
  background-color: var(--Purple);
  transform: translateY(calc(300% + 60px));
}

.Highlight.Active5 {
  background-color: var(--Purple);
  transform: translateY(calc(400% + 80px));
}

@media (max-width: 1000px) {
  .PlayElementContainer {
    width: 65%;
    height: 50%;
  }
}

@media (max-width: 775px) {
  .PlayElementContainer {
    width: 75%;
    height: 60%;
  }
}
