#myCanvas {
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#Settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

#Settings button {
  height: 6vh;
  width: 6vh;
  background-color: hsl(180, 4%, 5%);
  color: white;
  border: none;
  font-size: 20px;
}

.PageContainer {
  position: relative;
  display: flex;
  width: 25vw;
  height: 99vh;
  border: 5px solid hsl(145, 75%, 43%);
  background-color: hsl(180, 4%, 5%);
  border-radius: 1%;
  left: 75vw;
  opacity: 0.9;
  animation: Slide 1s linear forwards;
}

.Buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@keyframes Slide {
  from {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
