/* Removal of default margin and padding */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 0%);
}

:root {
  --Backround-Black-1: hsl(180, 5%, 2.5%);
  --Borders: hsl(180, 0%, 5%);
  --Fill: hsl(180, 0%, 10%);
  --Words: hsl(0, 5%, 75%);
  --Btn-border: hsl(239, 80%, 50%);
  --Grow-fill: hsl(202, 80%, 50%);
  --Grow-fill2: hsla(202, 80%, 50%, 0.5);
}

/*Settings button the button in the bottom left*/
#Settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

#Settings button {
  height: 6vh;
  width: 6vh;
  background-color: var(--Fill);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 40px;
}

/*Control pane*/
.PageContainer {
  position: relative;
  width: 25vw;
  height: 99vh;
  border: 5px solid var(--Borders);
  background-color: var(--Fill);
  left: 75vw; /*75*/
  animation: Slide 1s linear forwards;
}
/* Main buttons that allow an animation to be chosen */
.Buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10%;
}

.Buttons button {
  width: 100px;
  padding: 20px;
  color: var(--Words);
  border: 5px solid var(--Borders);
  border-radius: 5%;
  background-color: var(--Fill);
}

/* The configuration buttons that are spefic to each animation */
.OptionsButtons {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 50%;
}

.OptionsButtons button:hover {
  background-color: var(--Grow-fill);
  transform: scale(1.5);
  box-shadow: 0px 0px 25px 10px var(--Grow-fill2);
}

.OptionsButtons button {
  color: var(--Words);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--Borders);
  transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
  border: 3px solid var(--Btn-border);
}

@keyframes Slide {
  from {
    transform: translateX(var(--start));
  }
  to {
    transform: translateX(var(--end));
  }
}
