/* Removal of default margin and padding */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%);
}

:root {
  --Backround-Black-1: hsl(180, 5%, 2.5%);
  --Borders: hsl(180, 0%, 5%);
  --Fill: hsl(180, 0%, 10%);
  --Words: hsl(0, 5%, 75%);
  --Btn-border: hsl(239, 80%, 50%);
  --Grow-fill: hsl(202, 80%, 50%);
  --Grow-fill2: hsla(202, 80%, 50%, 0.5);
}
