/* Removal of default margin and padding */
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #080808;
  font-family: "Protest Strike", sans-serif;
}

:root {
  --Backround-Black-1: hsl(180, 5%, 2.5%);
  --Borders: hsl(180, 0%, 5%);
  --Fill: hsl(180, 0%, 10%);
  --Words: hsl(0, 5%, 75%);
  --Btn-border: hsl(239, 80%, 50%);
  --Grow-fill: hsl(202, 80%, 50%);
  --Grow-fill2: hsla(202, 80%, 50%, 0.5);
}

.HeaderContainer {
  z-index: 500;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.PlayContainer {
  position: relative;
  width: 11%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: #c0c0c0;
  border-radius: 50px;
  margin-right: 50px;
}

.PlayPause {
  position: relative;
  height: 80%;
  width: 50%;
  border-radius: 50px;
  margin-left: 10px;
  z-index: 2;
  background-color: black;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.PlayPause.Active {
  transform: translateX(90%);
  background-color: #080808;
}

.PlayText.Active {
  transform: translateX(-100%);
}

.PlayIcon {
  height: 100%;
  width: 100%;
  color: #0084ce;
  background-image: url("https://img.icons8.com/ios-filled/50/0084ce/pause--v1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.PlayIcon.Active {
  background-image: url("https://img.icons8.com/ios-filled/50/0084ce/play--v1.png");
}

.PlayText {
  position: relative;
  height: 85%;
  width: 50%;
  border-radius: 50px;
  display: flex;
  color: #0084ce;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.LinkContainer {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
}

.Links {
  position: relative;
  width: 60%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.Links a {
  text-decoration: none;
  color: #0084ce;
  margin: 20px;
}

.ButtonContainer {
  position: absolute;
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
}

.Panel {
  width: 65%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.PanelItem {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  height: 20%;
  margin: 10px;
  border-radius: 50px;
}

.PanelItem h1 {
  font-size: 2rem;
  font-weight: 800;
  color: #0084ce;
}

.Highlight {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  z-index: -1;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Make the highlight adjust based on the fit content of an element */

.Highlight.Active1 {
  background-color: #c0c0c0;
  transform: translateY(0);
}

.Highlight.Active2 {
  background-color: #c0c0c0;
  transform: translateY(calc(100% + 20px));
}

.Highlight.Active3 {
  background-color: #c0c0c0;
  transform: translateY(calc(200% + 40px));
}

.Highlight.Active4 {
  background-color: #c0c0c0;
  transform: translateY(calc(300% + 60px));
}

.Highlight.Active5 {
  background-color: #c0c0c0;
  transform: translateY(calc(400% + 80px));
}
